<html>
    <head>
        <title>자유게시판</title>
    </head>
    <body>
        <form action="/community/free/write" method="GET">
            <button>글쓰기</button>
        </form>
        
    </body>
</html>