<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/customer.css">
    <script src="/js/alert.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <title>reply 1995</title>
</head>
<body>
    <div class="body">
        <!-- header  -->
        <%-include('header.ejs')%>
        <!-- header end -->

        <!-- contents -->
        <div id="contents">
            <div class="board_wrap">
                <div class="board_title">
                    <strong>FAQ</strong>
                </div>
                <div class="board_list_wrap">
                    <div class="container">
                        <div class="titles">
                            <div class="title">
                                <h4>01</h4>
                                <p>서버 목록이 보이지 않거나 방화벽 오류 메시지가 떠요</p>
                            </div>
                            <div class="title">
                                <h4>02</h4>
                                <p>STOVE클라이언트에서 문제가 발생합니다</p>
                            </div>
                            <div class="title">
                                <h4>03 </h4>
                                <p>계정 도용(해킹) <br>당했어요</p>
                            </div>
                            <div class="title">
                                <h4>04 </h4>
                                <p>상품함에서<br> 내려받은 아이템을 청약철회하고 싶어요</p>
                            </div>
                            <div class="title">
                                <h4>05  </h4>
                                <p>서버 선택 화면이 안나타나고 에러발생후 종료됩니다.</p>
                            </div>
                        </div>
                        <div id="contents1" class="hide content">
                            말씀해주신 증상은 방화벽에 의해 reply1995가 차단되어 있을 경우 나타날 수 있습니다<br>
                            아래 안내해드리는 방법을 참고해주시기 바랍니다<br><br>

                            1.[제어판]-[시스템 및 보안]-[Windows방화벽]-[Windows 방화벽에서 프로그램 허용]클릭<br>
                            2.[다른 프로그램 허용(R)] 클릭<br>
                            3.이후 [프로그램 추가]화면에서 [찾아보기(B)]선택<br>
                            4.설치된 경로로 이동하여 '게임시작'클릭<br><br>

                            네트워크 연결 상태에 따라 해당 문제가 발생할 수도 있습니다<br><br>

                            더불어, 네트워크 연결 상태에 따라 해당 문제가 발생할 수도 있습니다<br>
                            가급적 공유기를 통한 무선 네트워크보다는 LAN선을 PC연결하여 이용을 권장드립니다<br><br>

                            끝으로, 사용중인 백신 프로그램에 의해서도 동일 현상이 나타날 수 있습니다<br>
                            백신 프로그램을 잠시 종료해주시는 것도 하나의 해결 방법입니다<br>
                        </div>
                        <div id="contents2" class="hide content">
                            STOVE 클라이언트에서 발생하는 문제는<br>
                            아래 안내해드리는 페이지에서 다양한 해결 방법을 확인하실 수 있습니다<br><br>

                            [클라이언트 도움말]<br><br>

                            해당 페이지에 기재되지 않았거나 안내된 내용을 모두 수행했음에도<br>
                            문제가 지속될 경우 고객센터를 이용해 주시기 바랍니다 
                        </div>
                        <div id="contents3" class="hide content">
                            계정 도용으로 인해 피해가 발생한 경우,<br>
                            아래와 같이 신고를 접수해 주시면 도움을 받으실 수 있습니다<br><br>

                            * 계정 도용 신고 방법<br><br>
                            1.신고센터 방문 <br>
                            2.피해 계정 로그인<br>
                            3.본인인증<br>
                            - 본인인증은 휴대폰 및 아이핀을 통해 진행됩니다<br>
                            - 허위신고 및 계정 도용 접수를 취소하는 등의 2차 피해를 예방하기 위해 본인인증이 필요하니 양해 바랍니다<br>
                            4.신고서 작성 및 신고 접수<br>
                            - 계정도용(해킹)신고가 아닌 다른 신고내용은 [고객센터-문의하기]를 이용해 주시기 바랍니다<br>
                        </div>
                        <div id="contents4" class="hide content">
                            청약철회는 구매 후 7일 이내의 상품을 [상품함]에서 내려받지 않은 경우에만 가능합니다<br><br>
                            상품함에서 내려받아 캐릭터에 지급된 아이템은 청약철회하실 수 없으니
                            상품을 내려받기 전 꼭 다시 한번 구매여부를 확인해 주세요
                        </div>
                        <div id="contents5" class="hide content">
                            방화벽 설정을 통해 허용했음에도
                            이와같은 증상이 발생하는 경우 기본 방화벽이 아닌 다른 방화벽 프로그램에 의해 발생할 수 있습니다
                            <br><br>
                            혹시 별도의 방화벽 프로그램을 설치하셨다면 해당 프로그램에서 파일을 허용해 주시거나, 프로그램을 잠시 종료해주시길 권하여 드립니다<br><br>
                            끝으로, 사용중인 백신 프로그램에 의해서도 해당 현상이 발생할 수 있습니다<br>
                            번거로우시더라도 백신 프로그램을 잠시 종료해주시는것도 하나의 해결 방법입니다<br>
                        </div>
                    </div>    
            </div>
        </div>

        <!-- footer -->
        <%-include('footer.ejs')%>
        <!-- footer end -->
    </div>

    <script>
        $(".nav_menu ul").mouseover(function(){
            if($(".nav_menu > ul > li").css("display") == "none"){
                $(".nav_menu > ul > li").css("display","block");
            }
        })
        $(".nav_menu").mouseleave(function(){
            $(".nav_menu > ul > li").css("display","none");
        })

        $(".title").on("click", function( obj ) {
            let target = obj.currentTarget;
            let brothers = $(target).siblings();
            let index = Number($(target).prevAll().length) + 1;

            let container = document.querySelector(".container");
            let content_brothers = $(container).children();
            content_brothers = content_brothers.slice(1,);

            // console.log(target);
            // console.log(brothers);
            // console.log(index);
            // console.log(`#contents${index}`);

            console.log(container);
            console.log(content_brothers);

            $(`#contents${index}`).toggleClass("hide");
            $(target).toggleClass("toggle_text");
            $(brothers).removeClass("toggle_text");

            for (let i=1; i<6; i++) {
                if (i == index) {
                    continue;
                }
                $(`#contents${i}`).addClass("hide");
            }

        });
    </script>
</body>
</html>