<html>
    <head>        
        <link rel="stylesheet" href="/css/find_id_result.css">
        <title>reply 1995</title>
    </head>
    <body>
        <a href="/">MAIN</a>
        <div class="maincontent">
            <h1>YOUR ID IS...</h1>
            <p><%=id%></p>
            <img class="BackGroundImg" width="700px" src="/img/bg5.png">
        </div>
    </body>
</html>
