<html>
    <head>        
        <link rel="stylesheet" href="/css/find_pw_result.css">
        <title>reply 1995</title>
        
    </head>
    <body>
        <a href="/">MAIN</a>
        <div class="maincontent">            
            <h1>YOUR PASSWORD IS...</h1>
            <p><%=password%></p>
            <img class="BackGroundImg" width="700px" src="/img/bg5.png">
        </div>       
        <footer>
        </footer>
    </body>
</html>



