<html>
    <head>        
        <link rel="stylesheet" href="/css/find_id_result.css">
    </head>
    <body>
        <a href="/">MAIN</a>
        <div>
            <h1>YOUR ID IS...</h1>
            <p><%=id%></p>
        </div>
        <footer>
        </footer>
    </body>
</html>
