<html>
    <head>        
        <link rel="stylesheet" href="/css/find_pw_result.css">
        
    </head>
    <body>
        <a href="/">MAIN</a>
        <div>            
            <h1>YOUR PASSWORD IS...</h1>
            <p><%=password%></p>
        </div>       
        <footer>
        </footer>
    </body>
</html>



