<div class="footer">
    <ul>
        <li><p>회사소개</p></li>
        <li><p>채용안내</p></li>
        <li><p>이용약관</p></li>
        <li><p>게임이용등급안내</p></li>
        <li><p>개인정보처리방침</p></li>
        <li><p>청소년보호정책</p></li>
    </ul>
    <p>
        <span>(주)07282</span>
        <span>서울특별시 영등포구 선유로9길 30 106동 청년취업사관학교 영등포캠퍼스 </span>
        <br>
        <span>팀이름 : Reply1995/ </span>
        <span>팀원 : <a href="https://github.com/Mokdasoo">이동근</a> /</span>
        <span><a href="https://github.com/junghwaK">김정화</a> /</span>
        <span><a href="https://github.com/Seoyoung-Mun">문서영</a></span>
    </p>
</div>