<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include('head.ejs')%>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunflower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/guide.css">
    <link rel="stylesheet" href="/css/css.css"

</head>
<body>
    <div class="bg">
        <%-include('nav.ejs') %>
    </div>
    <div class="content">
        <table>
            <tr>
                <td colspan="6">
                    <img src="/game/gameImgs/title.png">
                    <br>
                    <h1> GAME GUIDE </h1>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <p><button class="login1"  onclick="loginpage();">로그인</button>
                     후 이용 가능합니다.</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">GAME START</td>
                <td colspan="3">MOVE SHIP</td>
            </tr>
            <tr>
                <td colspan="3">
                    <img src="/img/guide/s.png" alt="wasd" class="key_1">
                </td>
                <td colspan="3">
                    <img src="/img/guide/wasd.png" alt="wasd" class="key">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    FIRE MISSILES
                </td>
                <td colspan="2">
                    ACTIVATE SHIELD
                </td>
                <td colspan="2">
                    DROP BOMBS
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="/img/guide/space.png" alt="" class="item_space">
                </td>
                <td colspan="2">
                    <img src="/img/guide/shift.png" alt="" class="item_shift">
                </td>
                <td colspan="2">
                    <img src="/img/guide/f.png" alt="" class="key_1">
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <h1>ITEM</h1>
                </td>
            </tr>
            <tr>
                <td colspan="2">MISSILES</td>
                <td colspan="2">SHIELD</td>
                <td colspan="2">BOMBS</td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="/game/gameImgs/missiles.png" alt="missiles" class="item">
                </td>
                <td colspan="2">
                    <img src="/game/gameImgs/shield.png" alt="shield" class="item">
                </td>
                <td colspan="2">
                    <img src="/game/gameImgs/bomb.png" alt="bomb" class="item">
                </td>
            </tr>
        </table>

    </div>
    
    <%-include('footer.ejs')%>
    <script src="/js/nav.js"></script>
</body>
</html>