<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunflower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/guide.css">
    <title>Document</title>
</head>
<body>
    <div class="bg">
        <%-include('nav.ejs') %>
    </div>
    <div class="content">
        <p> GAME GUIDE </p>
    </div>
    
    <%-include('footer.ejs')%>
    <script src="/js/nav.js"></script>
</body>
</html>