<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include('head.ejs')%>
    

    <link rel="stylesheet" href="/css/guide.css">
    <link rel="stylesheet" href="/css/css.css">


</head>
<body>
    <div class="bg">
        <%-include('nav.ejs') %>
    </div>
    <script>
        $(".bg").css({'background-image':'url("/img/main2.jpg")'});
        $(".login_form").css({"right" : "0", "left" : "20px"});
     </script>
    <div id="contents"> 
        <div class="guide_warp">
            <table>
                <tr>
                    <td colspan="6">
                        <img src="/game/gameImgs/title.png">
                        <br>
                        <h1> GAME GUIDE </h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <% if (isLogin) {%>
                            <%=user%>님 환영합니다. <br>
                            <p><button class="login1" onclick="gamepage();">게임 스타트</button> 클릭 후 게임 시작</p>
                        <% } else { %>
                            <p><button class="login1"  onclick="loginpage();">로그인</button>후 이용 가능합니다.</p>
                        <% } %>

                    </td>
                </tr>
                <tr>
                    <td colspan="3">GAME START</td>
                    <td colspan="3">MOVE SHIP</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <img src="/img/guide/s.png" alt="s key" class="key_1">
                    </td>
                    <td colspan="3">
                        <img src="/img/guide/wasd.png" alt="wasd key" class="key">
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="line"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        FIRE MISSILES
                    </td>
                    <td colspan="2">
                        ACTIVATE SHIELD
                    </td>
                    <td colspan="2">
                        DROP BOMBS
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="/img/guide/space.png" alt="space bar" class="item_space">
                    </td>
                    <td colspan="2">
                        <img src="/img/guide/shift.png" alt="shift" class="item_shift">
                    </td>
                    <td colspan="2">
                        <img src="/img/guide/f.png" alt="f key" class="key_1">
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <h1>ITEM</h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">MISSILES</td>
                    <td colspan="2">SHIELD</td>
                    <td colspan="2">BOMBS</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="/game/gameImgs/missiles.png" alt="missiles" class="item">
                    </td>
                    <td colspan="2">
                        <img src="/game/gameImgs/shield.png" alt="shield" class="item">
                    </td>
                    <td colspan="2">
                        <img src="/game/gameImgs/bomb.png" alt="bomb" class="item">
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <h1>GAME OVER</h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">RESTART AT WAVE 1</td>
                    <td colspan="3">CHECKPOINT</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <img src="/img/guide/r.png" alt="r key" class="key_1">
                    </td>
                    <td colspan="3">
                        <img src="/img/guide/c.png" alt="c key" class="key_1">
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="line"></td>
                </tr>
                <tr>
                    <td colspan="6">
                        WAVE 6 이후 게임 종료 시, 체크포인트 (WAVE 6) 부터 시작할 수 있습니다.
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="line"></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <p>게임 종료 후 알림창을 통해 기록 갱신 여부를 확인 할 수 있으며</p>
                        <p>모든 유저의 게임 점수 순위는 <a href="/game/ranking/" class="rankPage">[랭킹] 페이지</a>에서 확인이 가능합니다. </p>
                    </td>
                </tr>
            </table>
            <table class="cast_table">
                <tr>
                    <td colspan="5">
                        <h1>MEET THE CAST</h1>
                    </td>
                </tr>
                <tr class="cast_name">
                    <td>
                        SIMPLE
                    </td>
                    <td>
                        SINEY
                    </td>
                    <td>
                        CRAWLEY
                    </td>
                    <td>
                        FASTY
                    </td>
                    <td>
                        CIRCLEY
                    </td>
                </tr>
                <tr class="cast_img">
                    <td>
                        <img src="/game/gameImgs/red.png">
                    </td>
                    <td>
                        <img src="/game/gameImgs/blue.png">
                    </td>
                    <td>
                        <img src="/game/gameImgs/yellow.png">
                    </td>
                    <td>
                        <img src="/game/gameImgs/white.png">
                    </td>
                    <td>
                        <img src="/game/gameImgs/green.png">
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="line"></td>
                </tr>
                <tr class="cast_feature">
                    <td>
                        BEHAVIOR
                    </td>
                    <td>
                        BEHAVIOR
                    </td>
                    <td>
                        BEHAVIOR
                    </td>
                    <td>
                        BEHAVIOR
                    </td>
                    <td>
                        BEHAVIOR
                    </td>
                </tr>
                <tr class="cast_answer">
                    <td>
                        아무렇지 않게 <br>
                        앞으로 전진
                    </td>
                    <td>
                        앞 뒤로 영원히 ...
                    </td>
                    <td>
                        밑바닥을 가로질러 <br>
                        살금살금 기어가죠
                    </td>
                    <td>
                        어디든 빠르게 이동
                    </td>
                    <td>
                        둥글게 둥글게~
                    </td>
                </tr>
                <tr class="cast_feature">
                    <td>
                        LIKES
                    </td>
                    <td>
                        LIKES
                    </td>
                    <td>
                        LIKES
                    </td>
                    <td>
                        LIKES
                    </td>
                    <td>
                        LIKES
                    </td>
                </tr>
                <tr class="cast_answer">
                    <td>
                        피자먹은 개구리 <br>
                        공분동근
                    </td>
                    <td>
                        비내리는 날 마시는 <br>
                        막걸리
                    </td>
                    <td>
                        빨간색 롤러코스터 <br>
                        안구정화
                    </td>
                    <td>
                        시험공부 벼락치기 <br>
                        민트초코
                    </td>
                    <td>
                        침대 다이빙 <br>
                        내문서
                    </td>
                </tr>
                <tr class="cast_feature">
                    <td>
                        DISLIKES
                    </td>
                    <td>
                        DISLIKES
                    </td>
                    <td>
                        DISLIKES
                    </td>
                    <td>
                        DISLIKES
                    </td>
                    <td>
                        DISLIKES
                    </td>
                </tr>
                <tr class="cast_answer">
                    <td>
                        거창한 말 <br>
                        어려운 대화
                    </td>
                    <td>
                        똑바로 못가는 서클리 <br>
                        음주운전
                    </td>
                    <td>
                        땅따먹기 <br>
                        파인애플 올라간 피자
                    </td>
                    <td>
                        기어다니는 벌레 <br>
                        생강
                    </td>
                    <td>
                        카톡 읽씹 <br>
                        내공 냠냠
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="line"></td>
                </tr>
            </table>
        </div>
    </div>
    <%-include('footer.ejs')%>
    <script src="/js/nav.js"></script>
</body>
</html>