<!-- 로그인 상태일 때 -->
<% if (isLogin) {%>
    <%=user%>
    <button><a href="/logout">로그아웃</a></button>
<!-- 로그인 상태 아닐 때 -->
<% } else { %>
    <button><a href="/user/login">로그인</a></button>
<% } %>

<!-- 이 내용, 선생님이 적어주셨던 부분인거같은데 일단 지우지는 않을게요!!
    mainpage는 /views/design/main.html이고 나중에 이 ejs파일 (main.ejs)에 이동시킬 예정입니다
    혹시 몰라서 메모 남겨둡니다~  -서영 -->