<nav>
   
        <div class="top">
            
            <a class="mainlogo" href="/"><img src="/img/1995.png" width="200px"></a>
            <div class="topbuttons">
                <% if (isLogin) {%>
                <button class="signup1" onclick="location.href='/user/profile';"><img src="/img/mypage.png" width="120px"></button>
                
                <button class="login1" onclick="gamepage();">게임 스타트</button>
                <button class="login1" onclick="logoutpage();">로그아웃</button>
            <!-- 로그인 상태 아닐 때 -->
            <% } else { %>
                <button class="signup1" onclick="location.href='/user';">회원가입</button>
                <button class="login1"  onclick="loginpage();">로그인</button>
                <% } %>
            </div>
        </div>
        <div class="container5" style="display: flex;">
            
            <ul class="nav_ul">
                <a id="logo" href="/">
                    <img src="/img/img11.png"  class="nav_logo">
                </a>
            </ul>    
            
            <ul class="nav_ul">
                
                <a href="/community/notice">
                    <li class="main">뉴스</li>
                </a>
                <div class="hidden">
                    <a href="/community/notice">
                        <li class="sub">공지사항/이벤트</li>
                    </a>
                </div>
            </ul>
            <ul class="nav_ul">
                <a href="/game/guide">
                <li class="main">가이드</li>
                </a>
                <div class="hidden">
                    <li class="sub"></li>
                    <li class="bt"></li>
                </div>
            </ul>
            <ul class="nav_ul">
                <a href="/game/ranking">
                <li class="main">랭킹</li>
                </a>
                <div class="hidden">
                    <li></li>
                    <li></li>
                </div>
            </ul>
            <ul class="nav_ul">
                <li class="main">커뮤니티</li>
                <div class="hidden">
                    <a href="/community/free"><li class="sub">자유게시판</li></a>
                    <a href="/community/screen"><li class="bt">스크린샷게시판</li></a>
                </div>
            </ul>
            <ul class="nav_ul">
                <li class="main">고객지원</li>
                <div class="hidden">
                    <a href="/faq"><li class="sub">FAQ</li></a>
                    <% if (isLogin) { %>
                    <a href="/request"><li class="bt">1:1문의</li></a>
                    <% } else { %>
                    <li class="bt" onclick="alertlogin();"><a href="#">1:1문의</a></li>
                    <% } %>
                </div>
            </ul>   
        </div>

        <div class="login_from">

            <div class="gamestart_wrap">
                <% if (isLogin) {%>
                    <a href="#" onclick="gamepage();">
                        <img src="/img/startbutton.png" width="300px">
                        <span>GAMESTART</span>
                    </a>
                <% } else { %>
                    <a href="#" onclick="alertlogin();">
                        <img src="/img/startbutton.png" width="300px">
                        <span>GAMESTART</span>
                    </a>
                <% } %>
            </div>

            
        
            <div>
                <% if (isLogin) {%>
                    <div class="logined_form">
                        <img src="/img/<%=userdata.profile%>.png" width="85px" style="float: left; margin-left: 20px;">
                        <div><span><%=user%> 님 </span></div>
                        <div><span>방문을 환영합니다.</span></div>
                        <div><span>BEST RECORD : <%=userdata.score%> 점</span></div>
                    </div>
            <!-- 로그인 상태 아닐 때 -->
            <% } else { %>
                <div class="login_wrap">               
                    <div class="login_btn">
                        <div  style='width:100%;height:107px;'>
                            <span style="color: white;">로그인 후 게임을 시작해주세요.</span>
                            <div class="user_btn" onclick="location.href='/user/login'" style="color: white;"><span>로그인</span></div>
                            <div class="user_btn" onclick="location.href='/user'" style="background-color: white;"><span>회원가입</span></div>
                        </div>
                    </div>
                    <div class="findlogin">
                        <ul style="display: flex; list-style-type: none;">
                            <li><a href="/user/find_id">아이디 찾기</a></li>
                            <li style="margin-left: 10px; margin-right: 10px; color: white;">|</li>
                            <li><a href="/user/find_pw">비밀번호 찾기</a></li>
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        

 </nav>





