<nav>
    <div class="top">
        <button class="signup1">회원가입</button>
        <button class="login1">로그인</button>
    </div>
    <div class="container5" style="display: flex;">
        <ul>
            <img src="/img/img11.png"  class="nav_logo">
        </ul>
        <ul class="nav_ul">
            <a href="#">
                <li class="main">뉴스</li>
            </a>
            <div class="hidden">
                <a href="">
                    <li class="sub">공지사항</li>
                </a>
                <li class="bt">이벤트</li>
            </div>
        </ul>
        <ul class="nav_ul">
            <a href=""></a>
            <li class="main">가이드</li>
            <div class="hidden">
                <li class="sub"></li>
                <li class="bt"></li>
            </div>
        </ul>
        <ul class="nav_ul">
            <li class="main">랭킹</li>
            <div class="hidden">
                <li></li>
                <li></li>
            </div>
        </ul>
        <ul class="nav_ul">
            <li class="main">커뮤니티</li>
            <div class="hidden">
                <li class="sub">자유게시판</li>
                <li class="bt">정보게시판</li>
            </div>
        </ul>
        <ul class="nav_ul">
            <li class="main">고객지원</li>
            <div class="hidden">
                <li class="sub">FAQ</li>
                <li class="bt">1:1문의</li>
            </div>
        </ul>
    </div>
</nav>