<html>
    <head>
        <title> Join.ejs</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>      
        
        <link rel="stylesheet" href="/css/register.css">

        <style>
            .d-none {
                display: none;
            }
        </style>

        <script>
            function checkID( obj ){
                //프론트로 확인하는
                // if ( obj.value == "id2" ) {
                //         $("#register_text").css("color", "green");
                //         $("#register_text").text("사용할 수 있는 아이디입니다.");
                //         $( "button" ).removeAttr("disabled")
                // } else {
                //         $("#register_text").css("color", "red");
                //         $("#register_text").text("사용할 수 없는 아이디입니다.");
                //         $( "button" ).attr("disabled", "true");
                // }
                axios({
                    method: "post",
                    url: "/user/overlap",
                    data: {
                        id: obj.value,
                    }
                }).then((rep) => {
                    return rep.data;
                }).then((data) => {
                    if ( data ) {
                        $("#register_text").css("color", "white");
                        $("#register_text").text("사용할 수 있는 아이디입니다.");
                        $( "button" ).removeAttr("disabled")
                    } else {
                        $("#register_text").css("color", "red");
                        $("#register_text").text("사용할 수 없는 아이디입니다.");
                        $( "button" ).attr("disabled", "true");
                    }
                });
            }
            //alert를 띄우기 위한 동적 폼 전송 이용.
            function register(){
                let form = document.getElementById("form_register");

                let result = form.checkValidity();
                if(!result){
                    form.reportValidity();
                    return false;
                }

                axios({
                    method: 'post',
                    url: '/user/register',
                    data:{
                        id: form.Id.value,
                        password: form.Password.value,
                        name: form.name.value,                        
                        email: form.email.value,
                        profile: form.picture.value
                    }
                    //input창에 입력된 4개의 정보를 데이터로 보내준다. 
                })
                .then((rep) => {
                    return rep.data;
                }).then((data) => {
                    //controller의 res.send("성공적으로 회원가입되었습니다~") 그래서 data = "성공적~"
                    alert(data.name + "님 환영합니다.");
                    

                    window.location.href = "/user/login";
                })
            }

            // function chooseProfile(img){
            //     let form = document.getElementById("form_register");
            //     console.log(img);
            //     form.picture.value = img;
            // } 
        </script>
        
    </head>

    <body>
        <div id="container">
            <div id="buttons">
                <!-- <a href="/user"><button>SIGN UP</button></a>
                <a href="/user/login"><button>LOG IN</button></a> -->
            </div>
            <a type="" href="/"><img src="/img/img11.png" style="width:50"></a>
            <h1>WELCOME!</h1>
            <form id="form_register">
                <input type="text" name="Id" placeholder="아이디" required onkeyup="checkID( this );">
                <p id="register_text"></p>
                <input type="password" name="Password" placeholder="비밀번호" required> <br>
                <input type="text" name="name" placeholder="이름" required><br>
                <input type="email" name="email" placeholder="이메일" required>         
                <br>
                <!-- <img src="/img/img1.png" style="width: 100" onclick="chooseProfile('img1')">
                <img src="/img/img2.png" style="width: 100" onclick="chooseProfile('img2')">
                <img src="/img/img3.png" style="width: 100" onclick="chooseProfile('img3')">
                <img src="/img/img4.png" style="width: 100" onclick="chooseProfile('img4')">
                <img src="/img/img5.png" style="width: 100" onclick="chooseProfile('img5')"> -->
                <div>
                    <img src="/img/img1.png" style="width: 100" name="img1">
                    <img src="/img/img2.png" style="width: 100" name="img2">
                    <img src="/img/img3.png" style="width: 100" name="img3">
                    <img src="/img/img4.png" style="width: 100" name="img4">
                    <img src="/img/img5.png" style="width: 100" name="img5">
                    <img src="/img/img6.png" style="width: 100" name="img6">
                </div>
    
                <input type="hidden" name="picture"> <br>
                <button id="register_btn" type="button" onclick="register();" disabled>회원가입</button><br>
            </form>
        </div>
        <a href="/user/login">아이디가 있으신가요?</a>
        <footer>
        </footer>

        <script>

            $("img").on("click", function( obj ) {
                let form = document.getElementById("form_register");
                let target = obj.currentTarget;
                let brothers = $(target).siblings();

                form.picture.value = target['name'];

                console.log(target);
                console.log(brothers);

                $(target).css("border", "2px solid white");
                $(brothers).css("border", "none");
            });
        </script>
    </body>
</html>