body {
    margin: 0;
    background-color: rgb(16, 12, 13);
}

.maincontent{
    position: relative;
    width: 700px;
    height: 700px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.BackGroundImg {
    position: absolute;
    top: 0;
    left: 0;
}

h1{
    position: absolute;
    color :whitesmoke;
    padding-top: 13%;
    z-index: 5;
    left: 260px;
    top:-150px;
}

p{
    position: absolute;
    padding-top: 1.2%;
    color:yellow;
    font-weight: bolder;
    font-size: 25px;
    z-index: 5;
    left: 300px;
    top:38px;
}

a{
    position:absolute;
    color: whitesmoke;
    text-align: left;
    left: 10px;
    top: 5px;
    text-decoration: none;
    font-size: 20px;
}


