body {
    font-family: 'Sunflower', sans-serif;    
}
.content {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}
table {
	table-layout: fixed;
	width: 760px;
	border-spacing: 0;
}