/* body {
    background-color: gray;
} */
.guide_warp {
    /* font-family: 'Sunflower', sans-serif; */
    background-color: #212529;;
    padding-top: 30px;
    position: relative;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
table {
	table-layout: fixed;
	width: 900px;
	border-spacing: 0;
    margin-bottom: 50px;
}
a.rankPage {
    text-decoration: none;
    font-weight: 700;
}
td > img.key {
    width: 200px;
}
td > img.key_1 {
    width: 100px;
}
td > img.item_space {
    width: 130px;
    height: 60px;
}
td > img.item_shift {
    width: 100px;
}

tr, td {
    text-align: center;
}
td > h1 {
    padding-top: 20px;
    border-bottom: 2px solid white;
}
td.line {
    padding-top: 20px;
}
.cast_name {
    color: red;
    font-size: 22px;
}
.cast_behavior {
    color: blue;
}