body {
    margin: 0;
    background-color: #35363A;
    height: 100%;
}
button {
    color: black;
    background: white;
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
button > a {
    text-decoration: none;
    color: black;
}
button:hover {
    background: black;
    color: white;
}
.body {
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
}
.nav_background {
    position: relative;
    float:left; 
    width:100%; 
    height: 560px; 
    background: url("/img/nav.jpg") center top no-repeat;
}
.navbar {
    padding: 0 auto;
    position: absolute;
    height: 600px; 
}
.navbar a {
    text-decoration: none;
    color: white;
}

.nav_wrap {
    position: relative;
    margin: 0 auto;
    padding: 20px 40px;
    width: 1200px;
    height: 100%;
}
.nav_logo {
    position: absolute;
    left: 50px;
    font-size: 30px;
    z-index: 999;
}

/* 메뉴 */
.nav_menu {
    position: relative;
    left: 300px;
    z-index: 999;
    font-size: 0;
}
.nav_menu ul {
    padding: 0px 50px;
    float: left;
    font-size: 25px;
}
.nav_menu > ul > li {
    padding: 0;
    text-decoration: none;
    font-size: 18px;
    list-style: none;
    display: none;
}
.nav_btn_wrap {
    position: absolute;
    top: 350px;
    left: 800px;
}
#contents { 
    clear :both;
    width: 100%;
    min-height: 100%;
    padding: 30px 40px;
    margin: 0px auto;
}

/* footer */
.footer{
    height: 50px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #747373;
    text-align: center;
    padding: 20px;
    margin: 20px;
    position: absolute;
    bottom: 0;
}
.footer li{
    display: inline;
    list-style: none;
    padding: 0 7px 0 10px;
    white-space: nowrap; /* 가로로 긴 줄에서도 줄 바꿈 하지 않고 표시 */
}
.footer a{
    text-decoration: none;
    color: #464646;
}