@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
.bg {
        background-image: url("/img/nav/station.gif");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 80%; height: 700px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        font-family: Galmuri14;
}




/* 메인 스폐셜버튼        */

.login_form{
    position: absolute;
    border: 5px dashed gray;
    width: 300px;
    height: 300px;
    float: right;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}


@keyframes vibration {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(-1deg);
      
    }
}


.gamestart_wrap{
    position: relative;
    width:'100%'; 
    transition: 1s;
}
.gamestart_wrap:hover {
    animation: vibration 0.1s infinite;
    /* background-image: url("/img/nightsky.gif"); */
}




.gamestart_wrap img{
    width: 100%;
	vertical-align: middle;
    transition: 0.3s;
}



.gamestart_wrap span{
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
	position: absolute;
    left: 15%;
    top: 25%;
    transition: 0.3s;
    
}


.gamestart_wrap a:hover img{
    transform: scale(1.1);
}
.gamestart_wrap a:hover span{
    transform: scale(1.2);
    color: gold;
}





/* .login_wrap{
    
} */

.user_btn {
    width: 240px;
    height: 35px;
    border-radius: 50px;
    background-color: blueviolet;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}
.user_btn span{
    vertical-align: middle;
    font-weight: bold;
}
.findlogin{
    display: inline-block;
    margin-top: 10px;
    position: relative;
    right: 10px;
    
}
ul > li > a {
    text-decoration: none;
    color: white;
}

.logined_form{
    margin-top: 10px;
}
.logined_form > div{
    margin-top: 15px;
}
.logined_form > div > span {
    color: white;
    font-size: 17px;
    
}

/* 메인 스폐셜버튼 end */





h6 {
    position: relative;
    top: 24px;
}
.mainlogo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px; /* width의 50% */
    margin-top: -10px; /* height의 50% */
}
.top > .topbuttons{
    position: absolute;
    top: 0px;
    right: 0px;
}

.top a{
    text-decoration: none;
    color: black;
}

.top {
    position: relative;
    width: 100%;
    height: 65px;
    background-color: white;
    padding-right: 20px;
}


.signup1 {
    height: 30px;
    border: none;
    background-color: transparent;
    margin: 20px 0 0 0;
}

.signup1:hover {
    color: rgb(38, 144, 249);
}

.login1:hover{
    background-color: rgb(38, 144, 249);
    border: 2px solid transparent;
    color: white;
}

.login1 {
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0px 20px;
    margin-top: 20px;
    background-color: transparent;
    font-weight: bolder;
}

.gamestart{
    margin-left: 20px;
}

.container5 {
    justify-content: center;
    padding-top: 50px;
    background-color: transparent;
    transition: 1s;
    /* position: relative; */
}

.container5:hover{
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.723); */
    background-color: rgb(0, 0, 0);
    z-index: 1000;
    opacity: 1;
    transition: 1s;

}
.hidden {
    /* display: none; */
    opacity: 0;
    transition: all 1s;
}


.container5:hover .hidden{
    opacity: 1;
    transition: all 1s;
}




.container5 ul {
    width: 200px;
    /* margin: 0 auto; */
}

.container5 ul, .container5 li {
    list-style-type: none;
    text-align: center;
    word-break: keep-all;
}

.main{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

/* .main:hover{
    color:aliceblue
} */

.sub {
    font-size: 13px;
    margin-top: 5px;
    color: rgba(250, 241, 215, 0.937);
}

.bt {
    font-size: 13px;
    margin: 5px 0 30px;
    color: antiquewhite;
}

.nav_ul {
    padding: 0 10px 0;
}

.nav_ul #logo{
    /* position: relative;
    bottom: 45%;
    left: 10%; */
    position: relative;
    left: 50px;
    top: -10px;
}

.nav_ul a {
    text-decoration: none;
    color: antiquewhite;
    transition: 1s;
}

.container5 img {
    width: 60px;
    height: 60px;
}

/* .nav_background {
    position: relative;
} */

/* .nav_background img{ */
    /* position: static; */
    /* position: relative;
    float:left; 

    width:100%; 
    height: 560px; 
} */