/* 게시판 */
.board_wrap {
    width: 1000px;
    margin: 0px auto;
}
/* 게시판 타이틀 */
.board_title {
    margin-bottom: 30px;
}
.board_title strong {
    font-size: 30px;
    margin-top: 20px;
}
/* 게시판 작성버튼 */
.board_btn_wrap {
    margin-top: 30px;
    text-align: center;
}
.board_btn_wrap a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.board_btn_wrap a:hover {
    background: black;
    color: white;
}
.board_list {
    width: 100%;
    border-top: 2px solid black;
}
.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}
.board_list > div.top {
    border-color: #999;
    font-weight: 600;
}
.board_list > div.top > div.title {
    text-align: center;
}
.board_list > div:last-child {
    border-bottom: 1px solid black;
}
.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;

}
.board_list .num {
    width: 10%;
}
.board_list .title {
    width: 60%;
    text-align: left;
}
.board_list .title > a {
    text-decoration: none;
    color: inherit;
}
.board_list .writer {
    width: 10%;
}
.board_list .date {
    width: 10%;
}
.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
}
.board_page a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    vertical-align: middle;
}
.board_page a.btn_ {
    font-size: 14px;
    padding: 2px;
}
.board_page a.num {
    font-size: 16px;
    padding: 2px;
}
.board_page a:hover {
    background-color: black;
    color: white;
}
.numclick {
    font-size: 16px;
    padding: 2px;
    background-color: black;
    color: white;
}