/* 게시판 */
.board_wrap {
    width: 1000px;
    margin: 0px auto;
}
/* 게시판 타이틀 */
.board_title {
    margin-bottom: 30px;
}
.board_title strong {
    font-size: 30px;
    padding-top: 50px;
}
/* 게시판 작성버튼 */
.board_btn_wrap {
    margin-top: 30px;
    text-align: center;
}
.board_btn_wrap button {
    background-color: white;
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.board_btn_wrap button:hover {
    background: black;
    color: white;
}
.board_list {
    width: 100%;
    border-top: 2px solid black;
}
.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}
.board_list > div.top {
    border-color: #999;
    font-weight: 600;
}
.board_list > div.top > div.title {
    text-align: center;
}
.board_list > div:last-child {
    border-bottom: 1px solid black;
}
.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;

}
.board_list .num {
    width: 10%;
}
.board_list .title {
    width: 60%;
    text-align: left;
}
.board_list .title > a {
    text-decoration: none;
    color: inherit;
}
.board_list .writer {
    width: 10%;
}
.board_list .date {
    width: 10%;
}
.board_list .count {
    width: 10%;
}

/* 게시글view */
.board_view {
    width: 100%;
    border-top: 2px solid black;
}
.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 20px;
}
.board_view .info {
    padding: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid gray;
}
.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    margin: auto;
}
.board_view .info dl:first-child{
    padding-left: 0;
}
    /* 가상선택자를 이용한 라인 만들기 */
.board_view .info dl::before{
    content: '';
    /* 부모태그(.info dl)를 position relative로 두고 */
    position: absolute; 
    top: 6px;
    left: 1px;
    display: block;
    width: 1px;
    height: 13px;
    background: gray
}
.board_view .info dl:first-child::before{
    display: none;
}
.board_view .info dl dt {
    display: inline-block;
}
.board_view .info dl dd {
    display: inline-block;
    padding-left: 10px;
    color: gray;
}
.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid black;
}