<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/css.css">
    <title>Document</title>
</head>
<body>
    <div id="contents">
        <div class="board_wrap">
            <div class="board_title">
                <strong>응답하라 1995 랭킹 TOP 5</strong>
            </div>
            <div class="board_list_wrap">
                <div class="board_list">
                    <div class="top_ranking">
                        <div class="ranking">순위</div>
                        <div class="profile">캐릭터</div>
                        <div class="user">아이디</div>
                        <div class="score">점수</div>
                    </div>
                    <div class="cont_ranking">
                        <div class="ranking">순위</div>
                        <div class="profile"><img src="/public/img/img3.png"></div>
                        <div class="user">아이디</div>
                        <div class="score">500점</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

